POSTGRES_DB=godswar
POSTGRES_USER=godswar
POSTGRES_PASSWORD=godswar_dev_password
POSTGRES_PORT=5432
GODSWAR_LOGIN_PORT=5999
GODSWAR_LOGIN_HOST_PORT=5999
GODSWAR_GAME_PORT=7000
GODSWAR_GAME_HOST_PORT=7000
GODSWAR_GAME_PUBLIC_HOST=127.1.1.110
